<!doctype html>
<html lang="en">
  
  <head>
    {% block title %}<title>Управление складским пространством</title>{% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5-qrcode/2.3.8/html5-qrcode.min.js"></script>
    
 
    <!-- Добавление дополнительного статического CSS файла -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-10">
            <!-- <h1>Здравствуйте, {{ user.username|default:'гость' }}</h1> -->
             <h4 style="text-align: center;">Управление складским пространством</h4>
          {% block sidebar %}
            <ul class="sidebar-nav" style="width: 100%;">
              <div class="btn-group" style="width: 100%;">
                {%if user.is_authenticated%}
                    <!-- <li><a   class="btn btn-primary" href="{% url 'home' %}" role="button">Домашняя</a></li> -->
                {%endif%}
                {%if user.is_authenticated%}
                {%csrf_token%}
                    <li><form method="post" action="{% url 'logout' %}" style="width: 100%;">
                      {%csrf_token%}
                        <button type="submit"  class="btn btn-primary"  role="button" style="width: 100%;">Выйти</button>
                        
                    </form></li>
                  </div>
                {%else%}
                    <!-- <li><a id="auth-href" class="btn btn-primary" href="{% url 'login' %}" role="button" onclick="">Авторизация</a></li> -->
                {%endif%}
            </ul>
          {% endblock %}
        </div>
        <div class="col-sm-10 ">{% block content %}{% endblock %}</div>
      </div>
      
    </div>
    <script  src="{% static 'js/script_for_base_generic.js' %}"></script>

   
  </body>
</html>
